
@media (max-width: 1280px) {
    body {
        overflow-x: hidden;
    }

    .products {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 25rem;
        width: max-content;
        gap: 20px;
        padding-bottom: 20px;
        overflow-x: hidden;
        margin-top: 20px;
    }
}


