/* -----Tablet----- */
@media (max-width: 992px) {

    nav {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        height: 3rem;
        max-height: max-content;
        overflow-x: hidden;
        z-index: 10;

        i {
            display: none;
        }
    }

    .hero {
        display: flex;
        width: 100%;
        height: 25rem;
    }

    .menu {
        i {
            display: none;
        }
        label {
            font-size: 12px;
        }
    }

    .search-bar {
        i{
            display: none;
        }
    }

    .search-bar-container {
        margin: 0 auto;
        width: 100%;
        position: fixed;
        height: 10rem;
        top: 3rem;
        left: 0px;
    }

    .list-container {
        z-index: 1;
    }

    .login-box-open {
        position: fixed;
        right: 0px;
    }

    .user-container{
        label {
            font-size: 12px;
        }

        input {
            display: none;
        }
    }

    .cart-products {
        height: 80%;
        width: 50%;
        overflow-y: scroll;
        gap: 20px;

        .render-cart img {
            width: 30%;
        }

        .buttons-shop {
            gap: 10px;
            padding-bottom: 10px;
        }
    }

body {
        overflow-x: hidden;
}

/* Filtros */
.filter-products{
    height: 10rem;
    grid-auto-rows: 5rem;
    
        .filter-product-category {
            height: 5rem;
            width: 100%;
            overflow-x: hidden;
            border: 0.1px solid var(--main-bg-color);

            button {
                border-radius: 0px;
                font-size: 17px;
            }
        }
 }
    
/* Cards */
.products_container {
    margin: 0 auto;
    display: grid;
    height: max-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: max-content;
    gap: 5px;
    overflow-x: hidden;
  

    .card-container {
    display: flex;
    flex-direction: column;
    height: 18rem;
    width: 13rem;
    gap: 12px;
    border-radius: 5px; 
    padding: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;

    .image-card img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    
    .info-card {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h4 {
            font-size: 15px;
            font-weight: 400;
        }
        span {
        color: var(--parrafo);
        font-size: 12px;
        font-weight: 300;
        }
        }
    }
}

/* Formulario de contacto */
.form-contact {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: max-content;
    gap: 10px;

    .form-box {
        position: relative;
        align-items: center;
        width: 80%;
        padding: 20px;
        
        #send-form {
            width: 80%;
        }
    
    }
    
    .about-us {
        h4 {
            font-size: 20px;
            text-align: center;
        }
    }

    .brands {
        width: auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
        
        #img-brand {
            height: 60px;
            width: 60px;
        }
    }

    .callcenter {
        width: 100%;
        flex-direction: column;
        text-wrap: balance;
        padding: 20px;

        h4 {
            text-align: center;
        }
        
        .callcenter-info {
            display: flex;
            gap: 10px !important; 
            width: 100%;
            height: 10%;
        }
    }
}

/* Pre footer */
.pre-footer {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: 15rem;
        width: 100%;
        background-color: var(--texto);
        justify-content: space-between;
        align-items: center;
        overflow-y: hidden;
    
        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            background-color: #fffffe;
            flex-direction: column;
            width: 20%;
            height: 60%;
            color: var(--main-bg-color);
            z-index: 2;
    
            #info-img {
                background-color: #fffffe;
                max-width: 1.5rem;
                max-height: 1.5rem;
                width: 100%;
                height: 100%;
            }
    
            h4 {
                text-align: center;
                font-size: 12px;
                text-wrap:pretty;
                color: var(--button-primary);
                background-color: #fffffe;
            }
    
            p {
                align-items: center;
                text-align: center;
                background-color: #fffffe;
                color: var(--parrafo);
                text-wrap:stable;
                font-size: 10px;
                font-weight: 400;
            }
        }
}

footer {
        background-color: var(--parrafo);

        .links-footer ul,li,a {
            font-size: 12px;
        }

        .credits {
            text-align: center;
            width: 100%;
        }

        .credits h4 a{
            font-size: 12px;
            height: max-content;
            background-color: var(--parrafo);
            justify-content: center;
        }
}
}